* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.div-navegador{
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div-navegador ul{
    border: 2px solid black;
    list-style: none;
    display: flex;
    
}